<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @homework.name %>
</p>

<h1>Users task</h1>
<% @homework.users.each do |user| %>
    <div class="well">
      email: <%=user.email%>
    </div>
<% end %>
<%= link_to 'Back', homeworks_path %>


